  <div>three;four</div>
  <magic>three</magic>
  <magic>four</magic>
  two
  one
  <magic> YM </magic>
  <magic> EMAN </magic>
  <magic> IDIW </magic>
  <form action="<%= edit %>">
  </form> 
  <form action="<%= "edit/1" %>">
  </form> 
