  <input name="test" id="wow" class="kereen" mak="nyos">test</input>
  <ul>
    <li>this is a bullet list 1</li>
    <li>this is a bullet list 2</li>
    <li>this is a bullet list 3</li>
  </ul> 
  <ul>
    <li class="hilite" wow="kereen">this is a bullet list 1</li>
    <li class="hilite" wow="kereen">this is a bullet list 2</li>
    <li class="hilite" wow="kereen">this is a bullet list 3</li>
  </ul> 
  <ul>
    <li class="hilite" wow="kereen">this is a bullet list 1</li>
    <li class="hilite" wow="kereen">this is a bullet list 2</li>
    <li class="hilite" wow="kereen">this is a bullet list 3</li>
  </ul> 
  <ul>
    <li class="hilite" wow="kereen...">this is a bullet list 1</li>
    <li class="hilite" wow="kereen...">this is a bullet list 2</li>
    <li class="hilite" wow="kereen...">this is a bullet list 3</li>
  </ul> 
  <div>my note on inline params
    second note without tag
    <div>inside other div</div>
  </div> 
  <div class="dodol">wow kereen</div>
  <ul>
    <li>one</li>
    <li>two</li>
    <li>three</li>
    <li>five</li>
  </ul> 
