<div id="content">
<table id="tryit">
<tr>
<td colspan=2>
<strong>
  You like w2tags, please <a href="http://rubytrends.com/project/trends/w2tags-552" target="_blank">vote for it on RubyTrends</a>,
  Github:<a href="http://github.com/wharsojo/w2tags" target="_blank">w2tags</a>, 
  Available on <a href="http://gemcutter.org/gems/w2tags" target="_blank">gemcutter</a>.
  <!--Contact:<a href="mailto:fajar.budiprasetyo@skyeight.com">skyeight</a-->
</strong>
</td>
<td>
  <a href="http://en.wikipedia.org/wiki/Snippet_%28programming%29" target="_blank">http://en.wikipedia.org/wiki/Snippet_(programming)</a>
  <img src="/skyeight.jpeg" style="float:right;height:20px;" title="skyeight-team"/>
</td>
</tr>
<tr style="background-color:#DDDDFF;padding:0;">
<td id="link">
<div style="vertical-align:bottom;">
  <input id="btnclick" type="button" value="Render"/>
  <img id="load" class="h" src="/img/loading.gif" style="height:15px;"/>
</div>
<div id="wrapper">
  <div class="accordionButton">
   <a href="/">HOME</a>
  </div>
  <div class="accordionButton">HOTS!(Snippet)</div>
  <div class="accordionContent">
    <a href="#" class="load2" loc="try.rb">try.rb</a>
    <a href="#" class="load2" loc="rails">rails.hot</a>
    <a href="#" class="load2" id="curr" loc="html">html.hot</a>
    <a href="#" class="load2" loc="erb_base">erb_base.hot</a>
    <a href="#" class="load2" loc="erb_rails">erb_rails.hot</a>
    <a href="#" class="load2" loc="demo">demo.hot</a>
  </div>
  <div class="accordionButton" >Demo Layout</div>
  <div class="accordionContent">
     <div class="accordionButton" >Layout</div>
     <div class="accordionContent">
        <a href="#" class="load" loc="layout">Simple</a> 
        <a href="#" class="load" loc="layout1">Table</a> 
        <a href="#" class="load" loc="layout2">Div</a> 
     </div>
     <div class="accordionButton" >Css</div>
     <div class="accordionContent">
        <a href="#" class="load" loc="css01">Css 1</a> 
     </div>
  </div>
  <div class="accordionButton" >Demo Index Html</div>
  <div class="accordionContent">
     <div class="accordionButton" >Table</div>
     <div class="accordionContent">
        <a href="#" class="load" loc="table_simple" title="Easy Generate Table with w2tags">Simple table</a>
        <a href="#" class="load" loc="table_onhot"  title="Using hot for snippet">Table using hot</a>
        <a href="#" class="load" loc="table_each2"  title="Table each with index">Table each index</a>
     </div>
     <div class="accordionButton" >Navigation</div>
     <div class="accordionContent">
       <a href="#" class="load" loc="navigation">Navigation</a>
     </div>
  </div>
  <div class="accordionButton" >Demo Form Component</div>
  <div class="accordionContent">
     <div class="accordionButton" >Input</div>
     <div class="accordionContent">
        <a href="#" class="load" loc="input">Input ( verbose )</a>
        <a href="#" class="load" loc="input_inhot">Input ( D R Y )</a>
     </div>
     <div class="accordionButton" >Checkbox</div>
     <div class="accordionContent">
        <a href="#" class="load" loc="checkbox">Checkbox ( verbose )</a>
        <a href="#" class="load" loc="check_onhot">Checkbox ( D R Y )</a>
     </div>
     <div class="accordionButton" >Combo</div>
     <div class="accordionContent">
        <a href="#" class="load" loc="combobox">Combobox</a>
        <a href="#" class="load" loc="combo_onhot">Combobox using hot</a>
     </div>
  </div>
  <div class="accordionButton" >Demo Others</div>
  <div class="accordionContent">
     <div class="accordionButton" >Micro Format</div>
     <div class="accordionContent">
        <a href="#" class="load" loc="vcard">Micro format</a>
     </div>
  </div>
</div>
<a href="#" class="load" loc="basic" title="Simple Page~No Fancy w2tags cosmmands">Simple Page</a> 
<a href="#" class="load" loc="basic1">Basic 1</a> 
<a href="#" class="load" loc="basic2">Basic 2</a> 
<a href="#" class="load" loc="basic3">Basic 3</a> 
<a href="#" class="load" loc="basic4">Basic 4</a> 
<a href="#" class="load" loc="if">Block:if</a> 
<a href="#" class="load" loc="each">each</a> 
<a href="#" class="load" loc="each2">each2</a> 
<a href="#" class="load" loc="popup">Popup</a> 
<a href="#" class="load" loc="popup2">Popup2</a>
<a href="#" class="load" loc="params">Params</a>
<a href="#" class="load" loc="upload">Upload</a>
</td>
<td>
<textarea wrap="off" name="input" id="code1" class="in1"><% if params[:input] %><%= params[:input] %><% else %>
-# Left: Html Page code in w2tags
-# Right: file (HOT.tag) from "html.hot"
-# Pay attention on ">>xhtml", and Press
-# "Render" to see the Html tag created.
%xhtml
  %head
    -utf-8
    %title Myspace
  %body
    %h1 I am the international space station
    %p  Sign my guestbook<% end %>
</textarea>
</form>
</td>
<td class="i2 h">
  <textarea wrap="off" id="code2" class="ln- in2"><%= @result %></textarea>
</td>
<td class="i3">
  <iframe frameborder="0" src="/w2/html.hot.html" id="ifr"></iframe>
</td>
</tr>
</table>
</div>
<script type="text/javascript" src="/javascripts/application.js" > </script>