<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-type"/>
    <title>W2tags Try</title>
    <script type="text/javascript" src="/javascripts/jquery.js" > </script>
  </head>
  <body>
    <strong>
      You like w2tags, please <a href="http://rubytrends.com/project/trends/w2tags-552">vote for it on RubyTrends</a>,
      Available on <a href="http://gemcutter.org/gems/w2tags">gemcutter</a>    
    </strong>
    <%= yield %>
  </body>
</html>
