<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-type"/>
    <title>W2tags Try</title>
    <link rel="stylesheet" href="/stylesheets/jquery.cluetip.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/jquery.live.accordion.css" type="text/css" />
    <script type="text/javascript" src="/js/codemirror.js" > </script>
    <script type="text/javascript" src="/javascripts/jquery.js" > </script>
    <script type="text/javascript" src="/javascripts/jquery.cluetip.js" > </script>
    <script type="text/javascript" src="/javascripts/jquery.live.accordion.js" > </script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
