%h2 Contacts
%ol
  %li
    %dl
      %dt Name
      %dd Widi Harsojo
      %dt Web site
      %dd 
        %a{:href=> "http://wharsojo.wordpress.com/"} wharsojo
  %li
    %dl
      %dt Name
      %dd Arie K
      %dt Web site
      %dd 
        %a{:href=> "http://ariek.wordpress.com/"} ariekereen
  %li
    %dl
      %dt Name
      %dd Be All
      %dt Web site
      %dd 
        %a{:href=> "http://be_all.twitter.com/"} be_all_work
